.row-fluid
  .col-sm-2
    = render 'search'
  .col-sm-10
    #content
      .page-header
        %h1 Sociedades
        %p El sistema de busqueda puede encontrar sociedades por nombre, ficha, agente o notaria.
      - if params[:query]
        .row-fluid
          .table-responsive
            %table.table.table-condensed.table-hover
              %thead
                %tr
                  %th Nombre
                  %th Ficha
                  %th Agente
                  %th Fecha registro
                  %th Status

              %tbody
                - @corporations.each do |corporation|
                  %tr
                    %td= link_to corporation.nombre, corporation_path(corporation)
                    %td= corporation.ficha
                    %td= link_to corporation.agente, search_agente_path(corporation.agente) if corporation.agente
                    %td= corporation.fecha_registro
                    %td= corporation.status

            = will_paginate @corporations, renderer: BootstrapPagination::Rails

