- if not params[:query]
  .jumbotron
    %h1 Busqueda de Sociedad
    %p El sistema de busqueda puede encontrar sociedades por nombre, ficha, agente o notaria.
    %p Los resultados son ordenados por relevancia.

= render 'search'

- if params[:query]
  #content
    .table-responsive
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th Nombre
            %th Ficha
            %th Agente
            %th Fecha registro
            %th Status

        %tbody
          - @corporations.each do |corporation|
            %tr{:data=> {:link=> corporation_path(corporation)}}
              %td= corporation.nombre
              %td= corporation.ficha
              %td= corporation.agente
              %td= corporation.fecha_registro
              %td= corporation.status

      = will_paginate @corporations

