%p#notice= notice
#content
    .row
        .col-md-12
            .page-header
                %h1 
                    #{@corporation.nombre}
                    %small ficha: #{@corporation.ficha}
                    .pull-right= status_label(@corporation) 
    .row
        .col-md-12
            %span.label.label-info Duracion #{@corporation.duracion}
            %span.label.label-warning Registro #{@corporation.fecha_registro}
            %span.label.label-danger= @corporation.provincia
    .row
        .col-md-6
            %h3 Capital:
            %p
                %b= @corporation.capital.to_s + " " + @corporation.moneda
            %p= @corporation.capital_text
        .col-md-6
            %h3 Representante:
            %p= @corporation.representante_text
            %p 
                %b Agente: 
                = @corporation.agente
            %p
                %b Notaria:
                = @corporation.notaria
            
            
    %hr      
    %h2 Personas Asociadas
    %table.table.table-condensed.table-hover.table-responsive
        %thead
            %th Persona
            %th Rol
        %tbody
            - @corporation.asociations.each do |asoc|
                %tr
                    %td= link_to asoc.persona.nombre, persona_path(asoc.persona)
                    %td= asoc.rol

    = link_to 'Back', corporations_path
