= form_for @owner do |f|
  - if @owner.errors.any?
    #error_explanation
      %h2= "#{pluralize(@owner.errors.count, "error")} prohibited this owner from being saved:"
      %ul
        - @owner.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
