.row-fluid
  .col-sm-2
    = render 'search'
  .col-sm-10
    #content
      - if params[:query]
        .page-header
          %h1 Proveedores
        .row-fluid
          .table-responsive
            %table.table.table-condensed.table-hover
              %thead
                %tr
                  %th Nombre
              %tbody
                - @proveedores.each do |proveedor|
                  %tr
                    %td= link_to proveedor.nombre.mb_chars.titleize, proveedore_path(proveedor.id), 'data-no-turbolink' => true 

            = will_paginate @proveedores, renderer: BootstrapPagination::Rails
      - else
        .page-header
          %h1 Top Proveedores (Ultimos 30 Dias)
        .row-fluid
          .table-responsive
            %table.table.table-condensed.table-hover
              %thead
                %tr
                  %th Nombre
                  %th Licitaciones
                  %th Gasto Sumado
              %tbody
                - @proveedores.each do |proveedor|
                  %tr
                    %td= link_to proveedor.nombre.mb_chars.titleize, proveedore_path(proveedor.id), 'data-no-turbolink' => true 
                    %td= proveedor.count
                    %td= number_to_currency(proveedor.sum)
