.row-fluid
  .col-sm-2
    = render 'search'
  .col-sm-10
    #content
      .page-header
        %h1 #{@proveedor.nombre.mb_chars.titleize}
        %h4 Cantidad de Licitaciones: #{@proveedor.licitations.size}
        %h4 Gasto Total: #{number_to_currency(@proveedor.licitations.sum(:precio))} 
      .row-fluid
        #chart_div{:style => "height: 200px;"}
      - if @corporations.length > 0
        .row-fluid
          %h2 Posibles Sociedades
          .table-responsive
            %table.table.table-condensed.table-hover
              %thead
                %tr
                  %th Nombre
                  %th Ficha
                  %th Agente
                  %th Fecha registro
                  %th Status
              %tbody
                - @corporations.each do |corporation|
                  %tr
                    %td= link_to corporation.nombre, corporation_path(corporation)
                    %td= corporation.ficha
                    %td= link_to corporation.agente, search_agente_path(corporation.agente) if corporation.agente
                    %td= corporation.fecha_registro
                    %td= corporation.status
      .row-fluid
        .table-responsive
          %h1 Licitaciones:
          %table.table.table-hover.table-condensed
            %thead
              %tr
                %th Descripción
                %th.hidden-xs.hidden-sm Entidad
                %th Precio
                %th.hidden-xs.hidden-sm Fecha
            %tbody
              - @licitations.each do |licitation|
                %tr{:data=> {:link=> licitation_path(licitation)}}
                  %td= link_to truncate(licitation.description.mb_chars.downcase.humanize, length: 30), licitation_path(licitation) if licitation.description
                  %td.hidden-xs.hidden-sm= link_to truncate(licitation[:entidad].mb_chars.titleize.html_safe), entidade_path(licitation.entidad_id) if licitation.entidad_id
                  %td= number_to_currency(licitation.precio) if licitation.precio
                  %td.hidden-xs.hidden-sm= link_to licitation.fecha.strftime('%d/%m/%y'), search_fecha_path(licitation.fecha) if licitation.fecha

        = will_paginate @licitations, renderer: BootstrapPagination::Rails
      .row-fluid
        .col-md-12
          = link_to 'Atras', :back, class:'btn btn-sm btn-warning'

    - content_for :head do
      %script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
      :javascript
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = new google.visualization.DataTable();
            data.addColumn('date', 'Fecha');
            data.addColumn('number', 'Gasto');
            data.addRows(#{@chart_data.to_s.gsub("\"","")});
            var formatter = new google.visualization.NumberFormat({prefix: '$', negativeColor: 'red', negativeParens: true});
            formatter.format(data, 1);


          var options = {
            title: 'Gasto Mensual',
            sliceVisibilityThreshold: 1/200
          };
          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }



