.row-fluid
    .page-header
        %h1 Busqueda
.row-fluid
    = form_tag licitations_path, method: :get,  role:'form', class: 'search-form' do
        .form-group
            #search-buttons
                = submit_tag "Buscar", name: nil, class: 'btn btn-success btn-block'
                = button_tag "Limpiar Filtros", id: 'clean', class: 'btn btn-danger btn-block', type: 'button'
        .form-group
            = label_tag :query, 'Descripción'
            = text_field_tag :query, params[:query], placeholder: 'ejemplo: tocino', class: "form-control"
        .form-group
            = label_tag "Proveedor"
            = text_field_tag :proveedor, params[:proveedor], placeholder: 'ejemplo: Empresa S.A.', class: "form-control"
        .form-group
            = label_tag "Entidad"
            = text_field_tag :entidad, params[:entidad], placeholder: 'ejemplo: Ministerio', class: "form-control"
        .form-group
            %a{href:'#search_options', data: {toggle:'collapse'}, onclick: '$(this).parent().hide();'} opciones avanzadas
        #search_options.collapse.out
            .form-group
                = label_tag :acto
                = text_field_tag :acto, params[:acto], placeholder: 'ejemplo: 2012-0-12-119-04-CM-008996', class: "form-control"
            .form-group
                = label_tag :categoria
                = select_tag :category, options_from_collection_for_select(@categories, :id, :name, params[:category]) , prompt: 'Seleccionar Categoria', class: "form-control"
            .form-group
                = label_tag :modalidad
                = select_tag :modalidad, options_for_select(['Por Renglón','Global'], params[:modalidad]), prompt: 'Seleccionar Modalidad', class: 'form-control'
            .form-group
                = label_tag :objeto
                = select_tag :objeto, options_for_select(['Bien','Serivicio','Obra'], params[:objeto]), prompt: 'Seleccionar Objeto' , class: "form-control"
            .form-group
                = label_tag :compra_type
                = select_tag :compra_type, options_for_select(@compra_type, params[:compra_type]), prompt: 'Seleccionar Tipo de Compra', class: "form-control"
            .form-group
                = label_tag :price, "Rango de Precio"
                = text_field_tag :price_min, params[:price_min], placeholder: 'Precio Min', class: ' form-control'
                = text_field_tag :price_max, params[:price_max], placeholder: 'Precio Max' , class: ' form-control'
            .form-group
                = label_tag :price, "Rango de Fecha"
                = text_field_tag :fecha_min, params[:fecha_min], placeholder: 'Fecha Min', class: ' form-control'
                = text_field_tag :fecha_max, params[:fecha_max], placeholder: 'Fecha Max', class: ' form-control'

