- model_class = Licitation

= render 'search'
.well
  .row
    .col-sm-12
      %h4 Ultimas Licitaciones
#content
  .table-responsive
    %table.table.table-hover.table-condensed
      %thead
        %tr
          %th= model_class.human_attribute_name(:description)
          %th.hidden-xs.hidden-sm= model_class.human_attribute_name(:entidad)
          %th.hidden-xs.hidden-sm= model_class.human_attribute_name(:proponente)
          %th= model_class.human_attribute_name(:precio)
          %th.hidden-xs.hidden-sm= model_class.human_attribute_name(:fecha)
      %tbody
        - @licitations.each do |licitation|
          %tr{:data=> {:link=> licitation_path(licitation)}}
            %td= link_to truncate(licitation.description, length: 30).mb_chars.downcase.humanize, licitation_path(licitation) if licitation.description
            %td.hidden-xs.hidden-sm= link_to truncate(licitation.entidad).mb_chars.titleize.html_safe, search_entidad_path(licitation.entidad) if licitation.entidad
            %td.hidden-xs.hidden-sm= link_to truncate(licitation.proponente).mb_chars.html_safe, search_proponente_path(licitation.proponente) if licitation.proponente
            %td= number_to_currency(licitation.precio) if licitation.precio
            %td.hidden-xs.hidden-sm= link_to licitation.fecha.strftime('%d/%m/%y'), search_fecha_path(licitation.fecha) if licitation.fecha

  = will_paginate @licitations, renderer: BootstrapPagination::Rails
