- model_class = Licitation

= render 'search'
.well
  .row
    - if not params[:query]
      .col-sm-4
        %h1 Últimas Licitaciones
    - else
      .col-sm-2
        %h4 #{@total} Compras
        %h4 #{@proponentes.count} Proponentes
        %h4 #{@entidades.count} Entidades
      .col-sm-3
        %h4 Total en Costo: $#{@stats.sum}
        %h4 Costo Promedio: $#{@stats.mean.to_i}
        %h4 Standard Deviation: $#{@stats.standard_deviation.to_i}
      .col-sm-3
        %h4 Top Proponentes
        %ol
          - @proponentes[0..2].each do |p|
            %li= link_to truncate(p).titleize.html_safe, search_proponente_path(p)
      .col-sm-3
        %h4 Top Entidades
        %ol
          - @entidades[0..2].each do |p|
            %li= link_to truncate(p).titleize.html_safe, search_proponente_path(p)
#content
  .table-responsive
    %table.table.table-hover.table-condensed
      %thead
        %tr
          %th= model_class.human_attribute_name(:description)
          %th= model_class.human_attribute_name(:entidad)
          %th= model_class.human_attribute_name(:proponente)
          %th= model_class.human_attribute_name(:precio)
          %th= model_class.human_attribute_name(:fecha)
      %tbody
        - @licitations.each do |licitation|
          %tr{:data=> {:link=> licitation_path(licitation)}}
            %td= link_to truncate(licitation.description, length: 50).humanize, licitation_path(licitation) if licitation.description
            %td= link_to truncate(licitation.entidad).titleize.html_safe, search_entidad_path(licitation.entidad) if licitation.entidad
            %td= link_to truncate(licitation.proponente).titleize.html_safe, search_proponente_path(licitation.proponente) if licitation.proponente
            %td= number_to_currency(licitation.precio) if licitation.precio
            %td= link_to licitation.fecha.strftime('%d/%m/%y'), search_fecha_path(licitation.fecha) if licitation.fecha

  = will_paginate @licitations
