- model_class = Licitation

= render 'search'
.well
  .row
    - if params.size > 2
      .col-sm-3
        %h4 Top Proponentes
        %ol
          - @proponentes[0..2].each do |p|
            %li= link_to truncate(p).titleize.html_safe, search_proponente_path(p)
      .col-sm-3
        %h4 Top Entidades
        %ol
          - @entidades_stat[0..2].each do |p|
            %li= link_to truncate(p).titleize.html_safe, search_entidad_path(p)
      .col-sm-3
        %h4 Totales
        %ul
          %li #{@total} Compras
          %li #{@proponentes.count} Proponentes
          %li #{@entidades_stat.count} Entidades
      .col-sm-3
        %h4 Estadisticas
        %ul
          %li Promedio: $#{@stats.mean.to_i}
          %li STD: $#{@stats.standard_deviation.to_i}
          %li Costo Total: $#{@stats.sum}
    -else
      .col-sm-12
        %h3 Ultimas Licitaciones
#content
  .table-responsive
    %table.table.table-hover.table-condensed
      %thead
        %tr
          %th= model_class.human_attribute_name(:description)
          %th= model_class.human_attribute_name(:entidad)
          %th= model_class.human_attribute_name(:proponente)
          %th= model_class.human_attribute_name(:precio)
          %th= model_class.human_attribute_name(:fecha)
      %tbody
        - @licitations.each do |licitation|
          %tr{:data=> {:link=> licitation_path(licitation)}}
            %td= link_to truncate(licitation.description, length: 50).mb_chars.downcase.humanize, licitation_path(licitation) if licitation.description
            %td= link_to truncate(licitation.entidad).mb_chars.titleize.html_safe, search_entidad_path(licitation.entidad) if licitation.entidad
            %td= link_to truncate(licitation.proponente).mb_chars.html_safe, search_proponente_path(licitation.proponente) if licitation.proponente
            %td= number_to_currency(licitation.precio) if licitation.precio
            %td= link_to licitation.fecha.strftime('%d/%m/%y'), search_fecha_path(licitation.fecha) if licitation.fecha

  = will_paginate @licitations
