.container
  .row
    .col-sm-6.col-md-4.col-md-offset-4
      %h2 Sign in
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role:'form'}) do |f|
        .form-group
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true
        .form-group
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          .form-group
            = f.check_box :remember_me
            = f.label :remember_me
        .form-group= f.submit "Sign in"
      = render "devise/shared/links"
