%p#notice= notice

#content
    .page-header
        %h1
            = @persona.nombre
            %small.pull-right participa en #{@persona.corporations.group_by(&:nombre).count} sociedades

    .table-responsive
        %h2 Asociaciones
        %table.table.table-condensed
            %thead
                %th Sociedad
                %th Ficha
                %th Rol
            %tbody
                - @corporations.each do |corp|
                    %tr
                        %th= link_to corp.nombre, corporation_path(corp)
                        %th= corp.ficha
                        %th
                            - @persona.asociations.select{ |a| a.sociedad_id.to_i == corp.ficha.to_i }.each do |b|
                                = b.rol + " " 

    = link_to 'Back', personas_path
