.row-fluid
  .col-sm-2
    = render 'search'
  .col-sm-10
    #content
      .page-header
        %h1 Documentos de Contraloria
        %h3 Cantidad de Documentos: #{@total}
        %h3 Monto Sumado: #{number_to_currency(@sum)}
      .table-responsive
        %table.table.table-condensed.table-hover
          %thead
            %tr
              %th Control
              %th Numero
              %th Tipo de Documento
              %th Institucion
              %th Favorecido
              %th Monto
              %th Fecha

          %tbody
            - @docs.each do |doc|
              %tr
                %td= link_to doc.control, contralorium_path(doc)
                %td= doc.numero if doc.numero
                %td= doc.documento.mb_chars.titleize.html_safe
                %td= doc.institucion.mb_chars.titleize.html_safe
                %td= doc.favor.mb_chars.titleize.html_safe
                %td= number_to_currency(doc.monto) if doc.monto

                %td= doc.fecha.strftime('%d/%m/%y') if doc.fecha

        = will_paginate @docs, renderer: BootstrapPagination::Rails



