%p#notice= notice
.row-fluid
  .col-sm-2
    = render 'search'
  .col-sm-10
    #content
      .page-header
        %h1
          = @doc.documento
          %small= @doc.control
      .row-fluid
        .row-fluid
          .col-sm-3
            %h3 Institucion:
            %p #{@doc.institucion}
          .col-sm-3
            %h3 Control:
            %p #{@doc.control}
          .col-sm-3
            %h3 Numero:
            %p #{@doc.numero}
          .col-sm-3
            %h3 A Favor de: 
            %p #{@doc.favor}
        .row-fluid
          .col-sm-3
            %h3 Monto: 
            %p #{number_to_currency(@doc.monto)}
          .col-sm-9
            %h3 Fecha:
            %p #{@doc.fecha}
        .row-fluid
          .col-sm-12
            %hr
            = link_to 'Retroceder', :back, class:'btn btn-sm btn-warning'
            \|
            = link_to 'Ver Original', @doc.full_url, class:'btn btn-sm btn-primary'
